<div>
    <h1>Mapa Web</h1>
    <h3>Usuario sin identificar</h3>
    <ul>
        <li>Home</li>
        <ul>
            <li>Marcas</li>
            <li>Modelos</li>
            <li>Login</li>
        </ul>
    </ul>
    <h3>Usuario identificado</h3>
    <ul>
        <li>Home</li>
        <ul>
            <li>Marcas</li>
            <li>Modelos</li>
            <li>Mi usuario</li>
        </ul>
    </ul>
    <h3>Usuario administrador</h3>
    <ul>
        <li>Home</li>
        <ul>
            <li>Marcas</li>
            <li>Modelos</li>
            <li>Panel de administración</li>
            <ul>
                <li>Administración de marcas</li>
                <li>Administración de usuarios</li>
                <li>Administración de coches</li>
                <li>Administración de compras</li>
            </ul>
        </ul>
    </ul>
</div>