<section>
    <h1><i class="fa fa-wrench"></i>Panel de administración</h1>
    <div class="center">
        <button routerLink="/admin/coches">Administración de coches</button>
        <button routerLink="/admin/marcas">Administración de marcas</button>
    </div>
    <div class="center">
        <button routerLink="/admin/usuarios">Administración de usuarios</button>
        <button routerLink="/admin/compras">Administración de compras</button>
    </div>
    <div class="center">
        <button (click)="cerrarSesion()" class="exitRoot">Cerrar sesión como administrador</button>
    </div>
</section>
