<div>
    <section class="homeimgSection">
        <img class="homeimg" src="../../../assets/img/chevroletSub.avif" alt="imagen principal">
    </section>
    <section class="homeIcons">
        <div>
            <div class="homeIcon">
                <i class="fa fa-car"></i>
            </div>
            <p>Los mejores coches</p>
        </div>
        <div>
            <div class="homeIcon">
                <i class="fa fa-money"></i>
            </div>
            <p>Precios económicos</p>
        </div>
        <div>
            <div class="homeIcon">
                <i class="fa fa-wrench"></i>
            </div>
            <p>Servicio técnico</p>
        </div>
        <div>
            <div class="homeIcon">
                <i class="fa fa-briefcase"></i>
            </div>
            <p>Somos profesionales</p>
        </div>
    </section>
    <section class="cochesHome">
        <div class="blackBackground">
            <div class="cocheContainerHome">
                <img class="cocheImgHome" src="../../../assets/img/supraNegro.jpg" alt="imagen coche">
                <div>
                    <h2>Toyota Supra mk4</h2>
                    <p>La longitud de la carrocería se sitúa en 4380 mm (172,4 plg), con una anchura de 1865 mm (73,4 plg), una altura de 1295 mm (51,0 plg) y una batalla de 2470 mm (97,2 plg). Si comparamos el A80 con el nuevo A90, veremos que el recién introducido es unos 134 mm (5,3 plg) más corto, unos 54 mm (2,1 plg) más ancho, 20 mm (0,8 plg) más bajo y cuenta con una distancia entre ejes unos 80 mm (3,1 plg) inferior, es decir, es considerablemente más corto y bajo.</p>
                </div>
            </div>  
        </div>
        <div>
            <div class="cocheContainerHome">
                <div>
                    <h2>Mercedes GLE Coupé</h2>
                    <p>Descubre los aspectos destacados del exterior del GLE Coupé: el parabrisas tendido, la carrocería baja y la línea trasera descendente. El expresivo frontal con noble parrilla de efecto diamante irradia una deportividad a alto nivel que se prolonga hasta la zaga. Compara también las líneas de equipamiento entre sí. Por ejemplo, el equipamiento de serie y la línea AMG Line.</p>
                </div>
                <img class="cocheImgHome" src="../../../assets/img/mercedesHome.jpg" alt="imagen coche">
            </div>  
        </div>
    </section>
</div>
